    <footer>
      <div class="container">
        <div class="row">
          <div class="span12">
              <div id="callout">TO LEARN MORE, PLEASE CALL TODAY! &nbsp;&nbsp;<strong>615-220-1313</strong></div>
            </div>
          </div>
          <div class="row">
            <div class="span12">
              <span class="address">6112 New Nashville Highway Smyrna, Tennessee 37167 | 615-220-1313</span>
              &copy; 2012 Boatman Express
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Javascript -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery.scrollPatrol.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/bootstrap.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#services-nav").scrollPatrol();
        $("#services-nav-wrapper").sticky({topSpacing:0});
      });
    </script>

  </body>
</html>